<div>
  <h2>Register</h2>
  <form (submit)="register(registerForm.value)" #registerForm="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" ngModel>
    </div>
    <div class="form-group">
      <label for="password">password</label>
      <input type="password" class="form-control" id="password" name="password" ngModel>
    </div>
    <button class="btn btn-primary" type="submit">Click to Register</button>
    <a routerLink="/login" class="btn btn-link">Back to Login</a>
  </form>
</div>
