<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Title</a>
      </div>
      <ul class="nav navbar-nav" *ngIf="this.authService.loggedIn | async">

        <li>
          <a routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li>
          <a routerLink="/welcome" routerLinkActive="active">Welcome</a>
        </li>
        <li>
          <a routerLink="/logout" routerLinkActive="active">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
